#product-titel{
    font-size: 2rem;
    font-weight: bold;
    color: red;
}

.style-items{
    color: brown;
    background-color: aquamarine;
}

.marktet-places{
    background-color: black;
    color: white;
}
.fonst-style{
    font-size: 3em;
    color: aqua;
    text-align: center;
}
.large-text {
    font-size: 5rem;
    color: red;
}
.paraTag{
    color: brown;
    font-size: 10px;
}
.section{
    margin: 4rem;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 15px;
    color: white;
}